#searchForm {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.search-spinner {
  position: relative;
}
#searchBar {
  margin-top: 20px;
  padding: 15px;
  border-radius: 10px;
}

input[type="text"] {
  width: 80%;
}
