.repoCard {
  padding: 1rem;
  border: #ccc 1px dotted;
  margin: 0.7rem 0;
  color: black;
  flex: 0 0 33.333333%;
  flex-grow: 1;

  a {
    color: black;
  }
  li {
    color: black;
    list-style-type: none;
  }
}

.repoCardPopUp {
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: whitesmoke;
  border: 2px solid black;
  padding: 32px;
  border-radius: 12px;
  transform: translate(-50%, -50%);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.5;
}
