/* body {
  
  /* background-color: #171c26; */

/* height: 100vh; */
/* } */
body::after {
  content: '';
  opacity: 0.8;
  background: url('./material/github-wallpapers.jpg') no-repeat fixed;
  /* background-image: linear-gradient(
    to bottom,
    #0d1117,
    #171c26,
    #232535,
    #312f44,
    #413853
  ); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: color;
  background-size: cover;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: -1;
  height: 100vh;
}
